.divider {
    background-color: black;
    color: white;
&--columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
@media (min-width: 48em) {
  &--columns {
    flex-wrap: nowrap;
  }
}
&--column {
    flex: 33.33%;
  }
}