#divider_1 {
  background-color: black;
  color: white;
}

#divider_1 {
  background-color: purple;
  color: white;
}

.divider {
  &--columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (min-width: 48em) {
    &--columns {
      flex-wrap: nowrap;
    }
  }

  &--column {
    flex: 1 1 100%;
  }

  @--column-text {
    padding: 10%;
    font-weight: bold;
  }
}