.form,
.success {
  &--header {
    margin-bottom: 1.5rem;
  }
  &--title {
    font-family: $secondary-font-family;
    font-size: 1.5rem;
    font-weight: 900;
    color: $primary;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
  }
  &--descripription {
    font-size: 1.125rem;
    color: $gray-light;
  }
  &--columns {
    row-gap: 0 !important;
    column-gap: 1rem;
  }

  &--name {
    
  }

  &--actions {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobileOnly {
      flex-direction: column-reverse;
      row-gap: 0.5rem;
      align-items: stretch;
    }
  }
}
