.form,
.success {
  &--header {
    margin-bottom: 1.5rem;
    @include mobileOnly {
      margin-bottom: 0.75rem;
    }
  }
  &--title {
    font-family: $secondary-font-family;
    font-size: 1.5rem;
    font-weight: 900;
    color: $primary;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    @include mobileOnly {
      margin-bottom: 0.25rem;
    }
  }

  &--description {
    line-height: 1;
    font-size: 1.125rem;
    color: $gray-middle;
    @include mobileOnly {
      display: none;
    }
  }

  &--columns {
    row-gap: 0 !important;
    column-gap: 1rem;
  }

  &--footer {
    position: relative;
  }
  &--error {
    text-align: center;
    color: $error-dark;
    font-family: $secondary-font-family;
  }

  &--actions {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobileOnly {
      flex-direction: column-reverse;
      row-gap: 0.25rem;
      padding-top: 0.5rem;
      align-items: stretch;
    }
  }
}

.form.is-loading .form--body {
  opacity: 80%;
  filter: blur(.5rem);
}

#clients_form {
  @include mobileOnly {
    max-height: 90vh;
    overflow-y: scroll;
  }
}
