.language-dropdown {
    position: relative;
    display: inline-block;
  
    &__button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  
    &__label {
      font-size: 1.2em;
      margin-right: 8px;
      color: #333;
    }
  
    &__icon {
      width: 5px;
      height: 5px;
      border: solid #333;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    &__globe {
      width: 15px;
      height: 15px;
      padding-right:7px;
    }
  
    &__menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      list-style: none;
      padding: 0;
      margin: 4px 0 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  
      li {
        padding: 8px 16px;
      }
      a{
        text-decoration: none;
        color:#333;
      }
      a:hover{
        text-decoration: none;
        color:#000;
      }
    }
  
    &__button:focus + &__menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  