#business-clients {
  padding: 6rem 0;
}
.business-clients {
  padding: 2rem 0;
  min-height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &--content {
    flex: 2 0 240px;
    text-align: center;
  }
  &--contain-sub-content{
    display: flex;
    text-align: center;
  }
  &--sub-content{
    flex: 1 1 100%;
    text-align: center;
    min-height: 40vh;
  }
  &--number {
    color: $primary;
    font-family: $secondary-font-family;
    font-size: 6rem;
    font-weight: 700;
  }
  &--title {
    color: $primary;
    font-family: $secondary-font-family;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  &--description {
    font-size: 1.25rem;
    line-height: 1;
  }

  &--media {
    display: inherit;
    align-items: center;
    justify-content: center;
    flex: 3 2 240px;
    @include mobileOnly {
      order: 1;
      width: 100%;
    }
  }
  &--image {
    max-height: 240px;
    max-width: 400px;
    width: 100%;
    @include mobileOnly {
      order: 2;
      width: 100%;
    }
  }
  .is-reverse .feature--content {
    text-align: right;
  }
}
